@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center col-lg-6 mx-auto pt-5">
	<h1 class="display-4">Welcome in Numbers Fact!</h1>
    <h3> This site displaying fact about numbers, please chose your fact type!</h3>
    
</div>
